<footer>
    <h1 id="">Coding Ninjas </h1>
    <ul>
        
            <li>
                <a href="/users/profile">Profile</li></a>
            
            <li>
                <a href="/">Home</a>
            </li>
    </ul>
</footer>